extends layout

block content
  h1= title
  
 // form (method="POST" action='/login')
  div.input
  input(type="text", placeholder="User Id")
  input(type="password",placeholder="password")
  div.actions
  input (type="submit" value="login")
  //block content
    h1= title
    form(name="add-estimation", method="post")
        div.input
            span.label Title
            input(type="text", name="title")
        div.actions
            input(type="submit", value="add")